<div class="card">
  <div class="card-header">

    <div class="float-left">
      <h5>
        Cursos
      </h5>
    </div>

    <div class="float-right">
      <a href="#" class="btn btn-primary text-rigth">Novo curso</a>

    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Curso</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
    </tbody> -->

    <tfoot>
      <tr >
        <td colspan="2" >
          <a href="#" class="btn btn-outline-warning float-right">Atualizar</a>
          <a href="#" class="btn btn-outline-danger float-right">Remover</a>
        </td>
    </tr>
    </tfoot>
  </table>

</div>
