<form class="needs-validation mt-4" novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="name">Nome do Curso</label>
      <input type="text"
       class="form-control"
       id="name"
       placeholder="Nome do Curso"
       formControlName="name"
       [ngClass]="{'is-invalid' : submitted && hasError('name')}"
       >
      <div class="invalid-feedback">
        {{ this.getMessageError('name') }}
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="pt-3">
    <button type="submit" class="btn btn-primary mr-2" (click)="onSubmit()">Salvar</button>
    <button type="submit" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
  </div>
</form>
